@import "tailwindcss";

.back {
    background-image: url('./assets/background.png');
    background-size: 120px 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.back-repeat {
    background-image: url('./assets/bg2.png');
    background-size: 600px 600px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.special-rounded {
  border-radius: 40px 10px 40px 10px;
}

.special-rounded-small {
    border-radius: 40px 15px 40px 15px;
}

.btn{
    border-radius: 40px 20px 40px 20px;
    @apply  px-6 py-2 font-medium cursor-pointer;
}

.btn-small{
    border-radius: 40px 20px 40px 20px;
    @apply  px-4 py-2 font-medium cursor-pointer;
}

.btn-orange {
    @apply flex-shrink-0 bg-orange-500 hover:bg-orange-600 text-white transition-colors
}

.btn-orange-wire{
    @apply flex-shrink-0 bg-white border border-orange-500 hover:bg-orange-200 text-orange-500 transition-colors
}

.btn-gray {
    @apply flex-shrink-0 bg-gray-100 hover:bg-gray-200 text-gray-600 transition-colors
}